{%load static%}
{%include 'header.html'%}
<h2>Platos de fondo</h2>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Gestión de Platos</h2>
    <div class="d-grid gap-3">
        <a href="{% url 'entrada_list' %}" class="btn btn-primary btn-lg">Entradas</a>
        <a href="{% url 'fondo_list' %}" class="btn btn-success btn-lg">Platos de Fondo</a>
        <a href="{% url 'postre_list' %}" class="btn btn-warning btn-lg">Postres</a>
    </div>
</div>
<a href="{% url 'fondo_create' %}" class="btn btn-success mb-3">Agregar plato de fondo</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for fondo in fondos %}
        <tr>
            <td>{{ fondo.nombre }}</td>
            <td>{{ fondo.cantidad }}</td>
            <td>
                <a href="{% url 'fondo_update' fondo.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'fondo_delete' fondo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>