{%load static %}
{%include 'header.html'%}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} postre</h2>
    <form method="post" class="border p-4 rounded shadow-sm bg-light">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100 mb-2">Guardar</button>
        <a href="{% url 'postre_list' %}" class="btn btn-secondary w-100">Cancelar</a>
    </form>
</div>