{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
{% include 'header.html' %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Tienda</h2>

    <h4>Bebestibles</h4>
    <div class="row">
        {% for b in bebestibles %}
            {% include 'product_card.html' with producto=b tipo='bebestible' %}
        {% endfor %}
    </div>

    <h4>Platos de Fondo</h4>
    <div class="row">
        {% for f in fondos %}
            {% include 'product_card.html' with producto=f tipo='fondo' %}
        {% endfor %}
    </div>
</div>
</body>
</html>