{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src = "{%static 'test.js'%}"></script>
    </head>
    <header>
        {%include 'header.html'%}
    </header>
    <body>
<!-- Barra de búsqueda -->
<div class="busqueda">
    <input type="search" id="busqueda" placeholder="Buscar productos...">
    <button id="buscar">Buscar</button>
  </div>
  
  <!-- Filtrador -->
  <div class="filtrador">
    <select id="categoria">
      <option value="">Todas las categorías</option>
      <option value="categoria1">Pastas</option>
      <option value="categoria2">Carnes</option>
      <option value="categoria3">Bebestibles</option>
    </select>
    <select id="precio">
      <option value="">Todos los precios</option>
      <option value="menor-10">Menor a $10.000</option>
      <option value="entre-10-20">Entre $10.000 y $20.000</option>
      <option value="mayor-20">Mayor a $20.000</option>
    </select>
  </div>
  
  <!-- Listado de productos -->
  <div class="productos">
    <ul>
      <li>
        <a href="/product">
            <img src="{% static 'Ravioles.png' %}">
          </a>
        <h2>Ravioles</h2>
        <p>Precio: $9.990</p>
      </li>
      <li>
        <a href="/product">
        <img src="{% static 'Noquis.png' %}">
            </a>
        <h2>Noquis</h2>
        <p>Precio: $14.990</p>
      </li>
      <li>
        <a href="/product">
        <img src="{% static 'Comida 3.png' %}">
        </a>
        <h2>Chuleta de cerdo</h2>
        <p>Precio: $19.990</p>
      </li>
      <!-- ... -->
    </ul>
  </div>
    </body>
</html>